* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}

.container {
    max-width: 1266px;
    margin: 0 auto;
}

hr {
    margin: 0;
    height: 5px;
    background-color: grey;
    border: none;
}

/* header start */

header {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(imageset/bagphoto1.jpg);
    position: relative;
}

header .container .header-top {
    display: flex;
    justify-content: space-between;
    padding: 24px 48px;
}

header .container .buttons {
    display: flex;
    gap: 60px;
}

header .container .buttons .sign-in-btn button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
}

header .container .buttons .language-btn {
    border: 1px solid;
    height: fit-content;
    padding: 6px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    align-items: center;
}

header .container .logo img {
    width: 148px;
    height: 40px;
}

header .container .content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    position: absolute;
    left: 24%;
    top: 40%;
}


header .container .content h1 {
    font-size: 3rem;
    font-size: 900;
}

header .container .content .input-container form input {
    height: 56px;
}

header .container .content .input-container form {
    display: flex;
    align-items: center;
    gap: 20px;
}

header .container .content .input-container form input.text-input {
    width: 370px;
    background-color: transparent;
    border: none;
    outline: 1px solid grey;
    border-radius: 2px;
    padding: 0 20px;
    color: white;
}

header .container .content .input-container form input.submit-input {
    width: 207px;
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
}

/* header end */

/* section 1 start */

.section-1 {
    width: 100vw;
    height: 582px;
    background-color: black;
    display: flex;
    align-items: center;
}

.section-1 .container .content {
    display: flex;
    align-items: center;
}

.section-1 .container .content .image-content img {
    width: 579px;
    height: 434px;
}

.section-1 .container .content .text-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.section-1 .container .content .text-content p {
    font-size: 1.5rem;
    font-weight: 400;
}

/* section 1 end */

/* section 2 start */

.section-2 {
    width: 100vw;
    height: 582px;
    background-color: black;
    display: flex;
    align-items: center;
}

.section-2 .container .content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.section-2 .container .content .image-content img {
    width: 579px;
    height: 434px;
}

.section-2 .container .content .text-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.section-2 .container .content .text-content p {
    font-size: 1.5rem;
    font-weight: 400;
}

/* section 2 end */

/* section 3 start */

.section-3 {
    width: 100vw;
    height: 582px;
    background-color: black;
    display: flex;
    align-items: center;
}

.section-3 .container .content {
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
}

.section-3 .container .content .image-content img {
    width: 579px;
    height: 434px;
}

.section-3 .container .content .text-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.section-3 .container .content .text-content p {
    font-size: 1.5rem;
    font-weight: 400;
}

/* section 3 end */

/* section 4 start */

.section-4 {
    width: 100vw;
    height: 582px;
    background-color: black;
    display: flex;
    align-items: center;
}

.section-4 .container .content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.section-4 .container .content .image-content img {
    width: 579px;
    height: 434px;
}

.section-4 .container .content .text-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.section-4 .container .content .text-content p {
    font-size: 1.5rem;
    font-weight: 400;
}

/* section 4 end */

/* section 5 start */

.section-5 {
    width: 100vw;
    height: 921px;
    background-color: black;
    display: flex;
    align-items: center;

}

.section-5 .container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

.section-5 .container h1 {
    font-size: 40px;
    text-align: center;
}

.section-5 .container button {
    justify-content: space-between;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(252, 252, 252, 0.252);
    border: none;

}

.section-5 .container button span {

    font-size: 25px;
    font-weight: 590;
    color: white;
    margin-left: 30px;

}

.section-5 .container button svg {

    color: white;
    margin-right: 30px;
}

.section-5 .container p {

    font-size: 1.5rem;
    font-weight: 400;

}

.section-5 .container .text-input {

    width: 390px;
    background-color: transparent;
    border: none;
    outline: 1px solid grey;
    border-radius: 2px;
    padding: 0 20px;
    height: 56px;
    color: white;
}

.section-5 .container .submit-input {

    width: 215px;
    background-color: red;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    height: 59px;
}

/* section 5 end */


/* footer start */

footer {

    width: 100%;
    height: 400px;
    background: black;

}

footer .container {
    align-content: center;
}

footer .container .footer-elements {

    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 35px;

}

.span1 {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.table-class {
    display: flex;
    gap: 70px;
}

li {
    margin-top: 20px;
    list-style: none;
    text-decoration: underline;
    cursor: pointer;
}

footer .container .footer-elements .language-btn {

    border: 1px solid;
    width: 100px;
    height: fit-content;
    padding: 6px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    align-items: center;
    cursor: pointer;
}

/* footer end */